/*通用样式*/
*{margin: 0;padding: 0;}
body{font: 14px/24px Microsoft YaHei}
.wp{width: 960px;margin: 0 auto;}
.z{float:left;}
.y{float: right;}
.clear{clear: both;}


.top{
    background: #303030;
    width:100%;
    height: 24px; ;
    line-height: 24px;
    color: #d8d8d8;
}
.top span{
    margin-right: 15px;
}
.top span.margin_0{
    margin: 0;
}
.top a{
    color: #d8d8d8;
    text-decoration: none;
}
.top a:hover{
    color:#f60;
}
/*LOGOS*/
.logos{
    height: 59px;
    margin: 15px 0;
}
/*搜索*/
.sousuo{
    width: 330px;
    height: 41px;
    margin-top: 8px;
}
.sousuo td{
    height: 41px;
}
.s_z{
    width: 6px;
    background: url("../images/s_z.jpg") no-repeat;
}
.s_c{
    width: 200px;
    background: url("../images/s_c.jpg") repeat-x;
}
.s_r{
    width: 78px;
    background: url("../images/s_r.jpg") no-repeat;
}
.s_c input{
    height: 35px;
    line-height: 35px;
    border: none;
    margin-top: 3px;
    width: 200px;
}
.s_r button{
    width: 78px;
    height: 41px;
    background: none;
    border: 0;
    cursor: pointer;
}
.dianhua{
    height: 59px;
    line-height: 59px;
    margin-left: 15px;
}
.dianhua span{
    font-size: 26px;
    color:darkred;
}
/*导航*/
.nav{
    height:39px;
    width: 100%;
    background: url("../images/nav_bg.jpg");
}
.nav li{
    list-style: none;
    float: left;
    line-height: 39px;
    padding: 0 28px;
}
.nav li.a ,.nav li:hover{
    background: url("../images/nav_hover.jpg") repeat-x;
}
.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}
/*center*/
.ad{
    margin-bottom: 10px;
}
.tit{
    border-bottom: 1px solid darkred;
    position: relative;
    margin-bottom: 10px;
}
.tit span{
    position: absolute;
    right: 0;
    bottom: 0;
}
.tit a{
    text-decoration: none;
    color: darkred;
}
.jianjie{
    width: 540px;
    height: 360px;
    margin-right: 20px;
}
.jj_c img{
    float: left;
    margin: 0 10px 10px 0;
}
.jj_c p{
    color: #616161;
    text-indent: 24px;
}
.xinwen{
    width: 400px;
    height: 360px;
}
.chanpin{
    width: 100%;
    height: 300px;
}
.xw_c li{
    list-style: none;
    height: 24px;
    line-height: 24px;
    position: relative;
    padding-left: 15px;
    margin-bottom: 6px;
    background: url("../images/list_bg.jpg") no-repeat center left;
}
.xw_c li.a1{
    background: none;
    padding: 0;
    height: 76px;
}
.xw_c .a1 img{
    float: left;
    margin: 0 10px 10px 0;
}
.xw_c .a1 p{
    font-size: 10px;
    text-indent: 20px;
}
.xw_c a{
    color: #888888;
    text-decoration: none;
}
.xw_c h3{
    font-weight: normal;
    font-size: 14px;
    color: #616161;
}
.xw_c span{
    position: absolute;
    font-size: 12px;
    right: 0;
    color: #888888;
    bottom: 0;
}
.cp_c{

}
.cp_c li{
    float: left;
    list-style: none;
    margin: 0 10px 10px 0;
    width: 151px;
    height: 96px;
    overflow: hidden;
    position: relative;
}
.cp_c li span{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 14px;
    height: 20px;
    width: 131px;
    padding: 0 10px;
    color: #ffffff;
    background-color: darkred;
    overflow: hidden;
}
.cp_c li a:hover span{
    display: block;
}
.cp_c li img{
    float: left;
}
.cp_c li.mg_0{
    margin-right: 0;
}
/*footer*/
.footer{
    height: 103px;
    width: 100%;
    background: url("../images/footer_bg.jpg");
}
.footer_top{
    height: 80px;
    line-height: 80px;
    color: #ffffff;
    font-size: 16px;
}
.footer_top a{
    color: #ffffff;
    text-decoration: none;
}
.footer_bottom{
    color:#f60;
}

.footer_bottom a{
    color:#888;
    text-decoration: none;
}
.footer_bottom a:hover{
    color:#f60;
}
/*关联网站*/
.relevance{
    float: right;
    background: url("../images/top_tool.jpg");
    width: 40px;
    height: 205px;
    position: fixed;
    right: 50px;
    bottom: 120px;
}


