/*基础样式*/
.atfm-btn {
	border-width: 0;
	padding: 6px 14px;
	font-size: 15px;
	outline: none !important;
	background-image: none !important;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
	min-width: 70px;
}
/*小尺寸按钮*/
.atfm-btn.atfm-btn-sm{
	min-width: 55px;
	font-size: 14px;
	padding: 4px 12px;
}
/*默认灰色样式*/
.atfm-btn-default {
	color: #333333;
	background-color: #E5E5E5;
}
.atfm-btn-default:hover, .atfm-btn-default:focus, .atfm-btn-default:active {
	color: #333333;
	background-color: lightgray;
}
/*默认红色样式*/
.atfm-btn-red {
	color: #FFFFFF;
	background-color: #E26A6A;
}
.atfm-btn-red:hover, .atfm-btn-red:focus, .atfm-btn-red:active {
	color: #FFFFFF;
	background-color: #dc4c4c;
}
/*默认蓝色样式*/
.atfm-btn-blue {
	color: #FFFFFF;
	background-color: #578ebe;

}
.atfm-btn-blue:hover, .atfm-btn-blue:focus, .atfm-btn-blue:active {
	color: #FFFFFF;
	background-color: #437cae;
}
/*默认绿色样式*/
.atfm-btn-green {
	color: #FFFFFF;
	background-color: #26a69a;
}
.atfm-btn-green:hover, .atfm-btn-green:focus, .atfm-btn-green:active {
	color: #FFFFFF;
	background-color: #1f897f;
}
/*默认黄色样式*/
.atfm-btn-yellow {
	color: #FFFFFF;
	background-color: #f3c200;
}
.atfm-btn-yellow:hover, .atfm-btn-yellow:focus, .atfm-btn-yellow:active {
	color: #FFFFFF;
	background-color: #cfa500;
}